.profile {
    margin: 0 auto;
    padding: 0;
    padding-top: 74px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    max-width: 410px;
}
.profile__title {
    margin: 0;
    padding: 0;
    margin-bottom: 123px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.profile__form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 330px;
    gap: 17px;
}
.profile__field {
    padding: 0;
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    justify-content: space-between;
    background-color: inherit;
    cursor: text;
    position: relative;
}
.profile__field_border {
    padding-bottom: 16px;
    border-bottom: 1px solid #e8e8e8;
}
.profile__input {
    margin: 0;
    padding: 0;
    width: 350px;
    text-align: right;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    border: none;
    outline: none;
}
.profile__error {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ff4062;
}
.profile__btn {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 16px;
}

.profile__link {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FF3055;
    text-decoration: none;
}

.profile__link:hover {
    opacity: 0.6;
}

.profile__edit {
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border: none;
    color: #000;
    background-color: white;
    cursor: pointer;
}
.profile__edit:hover {
    opacity: 0.6;
}
.profile__logout {
    /* font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #ff4062; */
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .profile {
        padding-top: 231px;
        padding-bottom: 269px;
    }

    .profile__title {
        margin-bottom: 96px;
    }
    .profile__form {
        min-height: 320px;
    }
}
@media screen and (max-width: 576px) {
    .profile {
        padding: 66px 30px 40px 30px;
    }
    .profile__title {
        margin-bottom: 80px;
    }
    .profile__form {
        min-height: 487px;
    }
    .profile__input {
        width: 150px;
    }
    .profile__edit {
        font-size: 12px;
        line-height: 15px;
    }
    .profile__link {
        font-size: 12px;
        line-height: 15px;
    }
}
