.techs {
    margin: 0;
    padding: 100px 70px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}
.techs__main-title {
    margin: 0;
    margin-bottom: 90px;
    padding: 0;
    padding-bottom: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    width: 100%;
    border-bottom: 1px solid #000;
}
.techs__info {
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
}
.techs__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
}
.techs__subtitle {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    width: 40%;
}
.techs__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    gap: 10px;
    justify-content: center;
    list-style: none;
}

.techs__item {
    margin: 0;
    padding: 0;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .techs {
        padding: 90px 50px;
    }
    .techs__main-title {
        margin-bottom: 80px;
    }
    .techs__info {
        gap: 22px;
        margin-bottom: 83px;
    }
    .techs__subtitle {
        font-size: 12px;
        line-height: 18px;
        width: 61%;
    }

    .techs__list {
        grid-template-columns: repeat(auto-fit, 84px);
    }

    .techs__item {
        margin: 0 auto;
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 520px) {
    .techs {
        background-color: inherit;
        padding: 70px 18px;
    }
    .techs__main-title {
        margin-bottom: 60px;
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }
    .techs__info {
        gap: 24px;
        margin-bottom: 50px;
    }
    .techs__title {
        font-size: 30px;
        line-height: 36px;
    }
    .techs__subtitle {
        font-size: 11px;
        line-height: 16px;
        width: 90%;
    }

    .techs__list {
        grid-template-columns: repeat(2, 84px);
    }
}
